.pageContainer {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.leftSide {
  /* background-color: rgb(235, 235, 235); */
  width: 50%;
  display: flex;
  align-items: center;
  text-align: center;
}

.formGroup {
  display: flex;
  align-items: center;
  margin: auto;
}

.rightSide {
  background-color: rgb(246, 246, 246);
  width: 50%;
  height: 100vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  overflow-y: scroll;
  overflow-x: hidden;
  scrollbar-width: thin;
  align-items: center;
  /* position: sticky; */
}

.submitButton {
  margin-top: 15px;
  height: 25px;
  background-color: rgb(63, 63, 209);
  color: white;
  border: none;
  cursor: pointer;
}

.submitBtn {
  background-color: rgb(63, 63, 209);
  color: white;
  border: none;
  cursor: pointer;
}

.deleteButton {
  margin-top: 15px;
  height: 25px;
  background-color: rgb(236, 34, 78);
  color: white;
  border: none;
  cursor: pointer;
}
.deleteBtn {
  background-color: rgb(236, 34, 78);
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
}

.deleteGroup {
  margin-left: 25px;
  margin-bottom: auto;
}

.updateButton {
  margin-top: 15px;
  height: 25px;
  background-color: rgb(0, 126, 253);
  color: white;
  border: none;
  cursor: pointer;
}
.updateBtn {
  background-color: rgb(0, 126, 253);
  text-align: center;
  color: white;
  border: none;
  cursor: pointer;
}

.updateGroup {
  margin-left: 25px;
  margin-bottom: auto;
}

.tableGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
}

Table {
  margin-top: 20px;
}

.delete-event {
  margin-bottom: auto;
}

.update-event {
  margin-bottom: auto;
}

.add-event {
  align-items: center;
  margin-bottom: auto;
}

.mb-3 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.idLabel {
  margin-top: 15px;
  margin-bottom: 15px;
}
.nameLabel {
  margin-top: 15px;
  margin-bottom: 15px;
}

.groupContainer {
  align-items: center;
  margin: auto;
}

